@media (min-width: 1025px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: nowrap;

    overflow: visible;

    width: 60%;
    padding-top: 15px;
  }
}
@media (min-width: 1281px) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: 1367px) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: 1441px) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: 1601px) {
  .content {
    width: 66.5%;
    padding-top: 15px;
  }
}
@media (min-width: 1921px) {
  .content {
    padding-top: 20px;
  }
}
