@media (min-width: $widebooks) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: nowrap;

    overflow: visible;

    width: 66.5%;
    padding-top: 15px;
  }
}

@media (min-width: $hd) {
  .content {
    padding-top: 20px;
  }
}
