@media (min-width: $laptop) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: nowrap;

    overflow: visible;

    width: 60%;
    padding-top: 15px;
  }
}
@media (min-width: $netbooks) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: $wide-netbooks) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: $notebooks) {
  .content {
    width: 66.5%;
  }
}
@media (min-width: $widebooks) {
  .content {
    width: 66.5%;
    padding-top: 15px;
  }
}
@media (min-width: $hd) {
  .content {
    width: 66.5%;
    padding-top: 15px;
  }
}
@media (min-width: $fhd) {
  .content {
    padding-top: 20px;
  }
}
