@font-face {
    font-family: "PFSquareSansPro";
    src: url("../fonts/PFSquareSansPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "PFSquareSansPro";
    src: url("../fonts/PFSquareSansPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "PFSquareSansPro";
    src: url("../fonts/PFSquareSansPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PFSquareSansPro";
    src: url("../fonts/PFSquareSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "PFSquareSansPro";
    src: url("../fonts/PFSquareSansPro-XBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
