.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 360px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-right: 5%;
  margin-left: auto;

  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/toy-2.svg');
    background-size: 54px 52px;

    width: 54px;
    height: 52px;

    bottom: 115px;
    right: 130px;
    z-index: 10;
  }
}

@media (min-width: $netbooks) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 67px 66px;

      width: 66px;
      height: 67px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 70px 68px;

      width: 70px;
      height: 68px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}

@media (min-width: $notebooks) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}

@media (min-width: $widebooks) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}

@media (min-width: $hd) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: 90px;
      right: 130px;
      z-index: 10;
    }
  }
}

@media (min-width: $fhd) {
  .footer-social {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 135px 132px;

      width: 135px;
      height: 132px;

      bottom: 90px;
      right: 180px;
      z-index: 10;
    }
  }
}
