.footer {
  background-color: $footer-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0 -4px 21px 0 rgba(38,50,56,1);
  -moz-box-shadow: 0 -4px 21px 0 rgba(38,50,56,1);
  box-shadow: 0 -4px 21px 0 rgba(38,50,56,1);
  z-index: 1002;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__rules {
    background-color: transparent;
    border: 2px solid #fff;

    font: {
      size: 12px;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    padding-left: 5px;
    padding-right: 5px;

    text-transform: uppercase;

    cursor: pointer;
    outline: none;

    &--big {
      display: none;
    }
  }

  &__howto {
    @extend .footer__rules;
  }

  &__prize {
    @extend .footer__rules;
  }
}

@media (min-width: $smartphones) {
  .footer {
    justify-content: flex-start;

    &__rules {
      font-size: 14px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (min-width: $tablets) {
  .footer {
    justify-content: flex-start;
    &__rules {
      font-size: 18px;
      margin-right: 10px;
      margin-left: 20px;
    }
  }
}

@media (min-width: $laptop) {
  .footer {
    justify-content: space-between;

    &__rules {
      font-size: 20px;
      margin-right: 0px;

      &--big {
        display: block;
      }

      &--small {
        display: none;
      }
    }

    &__prize {
      display: none;
    }
  }
}

@media (min-width: $notebooks) {
  .footer {
    &__rules {
      font-size: 24px;
    }
  }
}

@media (min-width: $widebooks) {
  .footer {
    &__rules {
      font-size: 30px;
    }
  }
}
