.form-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

@media (min-width: $laptop) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $netbooks) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $wide-netbooks) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $notebooks) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $widebooks) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $hd) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: $fhd) {
  .form-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
