.invite-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 11.25px;

  width: 83%;
}

@media (min-width: $tablets) {
  .invite-item {
    width: 675px;
  }
}

@media (min-width: $laptop) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $netbooks) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $wide-netbooks) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $notebooks) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $widebooks) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $hd) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: $fhd) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 34px;
    margin-bottom: 16px;

    width: 83%;
  }
}
