@media (min-width: 1025px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}

@media (min-width: 1281px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}
@media (min-width: 1367px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}

@media (min-width: 1441px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}

@media (min-width: 1601px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 29px;
    margin-bottom: 11.25px;

    width: 83%;
  }
}

@media (min-width: 1921px) {
  .invite-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 34px;
    margin-bottom: 16px;

    width: 83%;
  }
}
