.invite-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%s;

  margin-bottom: 18px;

  &__title {
    background-image: url('../img/team-header-bg.svg');
    background-repeat: no-repeat;
    background-size: auto;

    width: 392px;
    height: 50px;

    padding-left: 30px;
    padding-top: 10px;

    margin-bottom: 20px;
  }
}
