.invite-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;

  &__title {
    background-image: url("../img/team-header-bg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 307px;
    height: 50px;
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 12px;

    align-self: flex-start;
  }
}

@media (min-width: $smartphones) {
  .invite-team {
    width: 100%;
    margin-bottom: 14px;

    &__title {
      background-image: url("../img/team-header-bg.svg");
      width: 307px;
      height: 50px;
      padding-left: 30px;
      padding-top: 10px;
      margin-bottom: 12px;

      align-self: flex-start;
    }
  }
}

@media (min-width: $tablets) {
  .invite-team {
    width: 100%;
    margin-bottom: 14px;

    &__title {
      background-image: url("../img/team-header-bg.svg");
      width: 340px;
      height: 52px;
      padding-left: 30px;
      padding-top: 6px;
      margin-bottom: 12px;

      align-self: flex-start;
    }
  }
}

@media (min-width: $laptop) {
  .invite-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 14px;

    &__title {
      background-image: url("../img/team-header-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 307px;
      height: 50px;
      padding-left: 30px;
      padding-top: 10px;
      margin-bottom: 12px;
    }
  }
}
@media (min-width: $netbooks) {
  .invite-team {
    display: flex;

    &__title {
      width: 307px;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .invite-team {
    display: flex;

    &__title {
      width: 320px;
    }
  }
}
@media (min-width: $notebooks) {
  .invite-team {
    display: flex;

    &__title {
      width: 350px;
    }
  }
}
@media (min-width: $widebooks) {
  .invite-team {
    display: flex;

    &__title {
      width: 392px;
    }
  }
}
@media (min-width: $hd) {
  .invite-team {
    display: flex;

    &__title {
      width: 392px;
    }
  }
}
@media (min-width: $fhd) {
  .invite-team {
    margin-bottom: 18px;

    &__title {
      width: 523px;
      height: 66px;
    }
  }
}
