@mixin container {
    min-width: $phones;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media (min-width: $smartphones) {
      width: auto;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
    }

    @media (min-width: 768px) {
      width: auto;
      max-width: $laptop;
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (min-width: 1024px) {
      width: auto;
      max-width: $netbooks;
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (min-width: 1280px) {
      width: auto;
      max-width: $wide-netbooks;
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (min-width: 1366px) {
      width: auto;
      max-width: $notebooks;
      margin: 0 auto;
      padding: 0 20px;
    }

    @media (min-width: 1440px){
      max-width: $widebooks;
      width: auto;
      margin: 0 auto;
      padding: 0 55px;
    }
    @media (min-width: 1600px) {
      max-width: $hd;
      width: auto;
      margin: 0 auto;
      padding: 0 55px;
    }
    @media (min-width: 1920px) {
      max-width: $fhd;
      width: auto;
      margin: 0 auto;
      padding: 0 55px;
    }
  }
