.overlay-video {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__title {
    font: {
      size: 38px;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;

    position: relative;

    margin: 0 auto;
    margin-bottom: 500px;

    filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
    text-shadow:1px 1px 0px rgba(255,255,255,0.2);
    -webkit-text-shadow:1px 1px 0px rgba(255,255,255,0.2);
    -moz-text-shadow:1px 1px 0px rgba(255,255,255,0.2);

    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/video-arrow.png');
      background-repeat: no-repeat;
      background-size: 378px 200px;

      width: 378px;
      height: 200px;
      left: -140px;
      bottom: -225px;
    }
  }
}

@media (min-width: $netbooks) {
  .popup-video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__title {
      font: {
        size: 45px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: normal;
      text-transform: uppercase;

      position: relative;

      margin: 0 auto;
      margin-bottom: 500px;

      filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
      text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -webkit-text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -moz-text-shadow:1px 1px 0px rgba(255,255,255,0.2);

      &::after {
        position: absolute;
        content: '';

        background-image: url('../img/video-arrow.png');
        background-repeat: no-repeat;
        background-size: 454px 240px;
        width: 454px;
        height: 240px;
        left: -190px;
        bottom: -245px;
      }
    }
  }
}
@media (min-width: $wide-netbooks) {
  .popup-video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__title {
      font: {
        size: 45px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: normal;
      text-transform: uppercase;

      position: relative;

      margin: 0 auto;
      margin-bottom: 600px;

      filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
      text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -webkit-text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -moz-text-shadow:1px 1px 0px rgba(255,255,255,0.2);

      &::after {
        position: absolute;
        content: '';

        background-image: url('../img/video-arrow.png');
        background-repeat: no-repeat;
        background-size: 454px 240px;
        width: 454px;
        height: 240px;
        left: -190px;
        bottom: -245px;
      }
    }
  }
}

@media (min-width: $hd) {
  .popup-video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 0 auto;

    &__title {
      font: {
        size: 45px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: normal;
      text-transform: uppercase;

      position: relative;

      margin: 0 auto;
      margin-left: 600px;
      margin-bottom: 600px;

      filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1, offY=1, color=#ffffff, positive=true);
      text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -webkit-text-shadow:1px 1px 0px rgba(255,255,255,0.2);
      -moz-text-shadow:1px 1px 0px rgba(255,255,255,0.2);

      &::after {
        position: absolute;
        content: '';

        background-image: url('../img/video-arrow.png');
        background-repeat: no-repeat;
        background-size: 454px 240px;
        width: 454px;
        height: 240px;
        left: -190px;
        bottom: -245px;
      }
    }
  }
}
