.popup-prize {
  position: relative;
  top: 20%;
  left: 0;
}

.prize-panel {
  position: fixed;
  top: 20%;
  left: -30px;
  width: 375px;
  height: 580px;
  padding: 0;
  z-index: 10005;

  transform: scale(0.75);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-image: url('../img/prize-bg.png');
  background-repeat: no-repeat;
  background-size: 375px 580px;

  padding-top: 30px;
  padding-left: 20px;

  transition: 0.5s ease-in-out;

  position: relative;

  &__title {
    font: {
      size: 31px;
      weight: 900;
      family: $main-font;
    }

    color: $prize-text;
    line-height: 31px;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;

    padding-bottom: 280px;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../img/prize-star.png');
      background-repeat: no-repeat;
      background-size: 273px 280px;
      width: 273px;
      height: 280px;
      top: 30px;
      left: 10px;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/ps.png');
      background-repeat: no-repeat;
      background-size: 200px 174px;
      width: 200px;
      height: 174px;
      top: 80px;
      left: 50px;
    }
  }

  &__close {
    border: none;
    border-radius: 20px;
    background-color: #fc5500;
    position: absolute;

    top: -25px;
    right: -10px;

    width: 30px;
    height: 30px;

    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;

    cursor: pointer;
    outline: none;
  }
}

.prize-panel__upper {
  .prize-panel__description {
    font: {
      size: 18px;
      weight: 900;
      family: $main-font;
    }

    color: $prize-text;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    width: 300px;
    text-align: center;
  }
}

.prize-panel__lower {
  margin-top: 20px;
  .prize-panel__description {
    font: {
      size: 18px;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    width: 300px;
    text-align: center;
  }

  .prize-panel__notification {
    font: {
      size: 6px;
      weight: 300;
      family: $main-font;
    }

    color: $text-white;
    line-height: 8px;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    margin-top: 5px;
    margin-left: -10px;

    width: 350px;
  }
}

@media (min-width: $smartphones) {
  .popup-prize {
    position: relative;
    top: 20%;
    left: 15%;
  }

  .prize-panel {
    position: fixed;
    top: 20%;
    width: 375px;
    height: 580px;
    padding: 0;
    z-index: 10005;

    transform: scale(1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-image: url('../img/prize-bg.png');
    background-repeat: no-repeat;
    background-size: 375px 580px;

    padding-top: 30px;
    padding-left: 20px;

    transition: 0.5s ease-in-out;

    position: relative;

    &__title {
      font: {
        size: 31px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 31px;
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 0;
      padding-left: 20px;

      padding-bottom: 280px;

      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('../img/prize-star.png');
        background-repeat: no-repeat;
        background-size: 273px 280px;
        width: 273px;
        height: 280px;
        top: 30px;
        left: 10px;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/ps.png');
        background-repeat: no-repeat;
        background-size: 200px 174px;
        width: 200px;
        height: 174px;
        top: 80px;
        left: 50px;
      }
    }

    &__close {
      border: none;
      border-radius: 20px;
      background-color: #fc5500;
      position: absolute;

      top: -25px;
      right: -10px;

      width: 30px;
      height: 30px;

      background-image: url('../img/close.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center center;

      cursor: pointer;
      outline: none;
    }
  }

  .prize-panel__upper {
    .prize-panel__description {
      font: {
        size: 18px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 18px;
      text-transform: uppercase;

      margin: 0;
      width: 300px;
      text-align: center;
    }
  }

  .prize-panel__lower {
    margin-top: 20px;
    .prize-panel__description {
      font: {
        size: 18px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: 18px;
      text-transform: uppercase;

      margin: 0;
      width: 300px;
      text-align: center;
    }

    .prize-panel__notification {
      font: {
        size: 6px;
        weight: 300;
        family: $main-font;
      }

      color: $text-white;
      line-height: 8px;
      text-transform: uppercase;
      text-align: center;

      margin: 0;
      margin-top: 5px;
      margin-left: -10px;

      width: 350px;
    }
  }
}

@media (min-width: $tablets) {
  .popup-prize {
    position: relative;
    top: 20%;
    left: 30%;
  }

  .prize-panel {
    position: fixed;
    top: 20%;
    width: 375px;
    height: 580px;
    padding: 0;
    z-index: 10005;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-image: url('../img/prize-bg.png');
    background-repeat: no-repeat;
    background-size: 375px 580px;

    padding-top: 30px;
    padding-left: 20px;

    transition: 0.5s ease-in-out;

    position: relative;

    &__title {
      font: {
        size: 31px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 31px;
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 0;
      padding-left: 20px;

      padding-bottom: 280px;

      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('../img/prize-star.png');
        background-repeat: no-repeat;
        background-size: 273px 280px;
        width: 273px;
        height: 280px;
        top: 30px;
        left: 10px;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/ps.png');
        background-repeat: no-repeat;
        background-size: 200px 174px;
        width: 200px;
        height: 174px;
        top: 80px;
        left: 50px;
      }
    }

    &__close {
      border: none;
      border-radius: 20px;
      background-color: #fc5500;
      position: absolute;

      top: -25px;
      right: -10px;

      width: 30px;
      height: 30px;

      background-image: url('../img/close.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center center;

      cursor: pointer;
      outline: none;
    }
  }

  .prize-panel__upper {
    .prize-panel__description {
      font: {
        size: 18px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 18px;
      text-transform: uppercase;

      margin: 0;
      width: 300px;
      text-align: center;
    }
  }

  .prize-panel__lower {
    margin-top: 20px;
    .prize-panel__description {
      font: {
        size: 18px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: 18px;
      text-transform: uppercase;

      margin: 0;
      width: 300px;
      text-align: center;
    }

    .prize-panel__notification {
      font: {
        size: 6px;
        weight: 300;
        family: $main-font;
      }

      color: $text-white;
      line-height: 8px;
      text-transform: uppercase;
      text-align: center;

      margin: 0;
      margin-top: 5px;
      margin-left: -10px;

      width: 350px;
    }
  }
}
