.register-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;

  &__title {
    background-image: url("../img/team-header-bg.svg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 307px;
    height: 40px;
    padding-left: 30px;
    padding-top: 10px;

    align-self: flex-start;
  }

  &__wrapper {
    margin-top: 12px;
  }
}

@media (min-width: $tablets) {
  .register-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;

    &__title {
      background-image: url("../img/team-header-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 411px;
      height: 52px;
      padding-left: 30px;
      padding-top: 10px;

      align-self: flex-start;
    }

    &__wrapper {
      margin-top: 12px;
    }
  }
}

@media (min-width: $laptop) {
  .register-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 14px;

    &__title {
      background-image: url("../img/team-header-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 307px;
      height: 40px;
      padding-left: 30px;
      padding-top: 10px;
    }

    &__wrapper {
      margin-top: 12px;
    }
  }
}
@media (min-width: $netbooks) {
  .register-team {
    display: flex;
  }
}
@media (min-width: $wide-netbooks) {
  .register-team {
    display: flex;

    &__title {
      width: 320px;
      height: 40px;
    }
  }
}
@media (min-width: $notebooks) {
  .register-team {
    display: flex;

    &__title {
      width: 350px;
      height: 45px;
    }
  }
}
@media (min-width: $widebooks) {
  .register-team {
    margin-bottom: 14px;

    &__title {
      width: 392px;
      height: 50px;
    }
  }
}
@media (min-width: $hd) {
  .register-team {
    margin-bottom: 14px;

    &__title {
      width: 392px;
      height: 50px;
    }
  }
}
@media (min-width: $fhd) {
  .register-team {
    margin-bottom: 18px;

    &__title {
      width: 523px;
      height: 66px;
    }

    &__wrapper {
      margin-top: 16px;
    }
  }
}
