.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 21px;
  width: 83.3%;
  background-color: $team-bg;
  padding-left: 27px;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-right: 10px;
  box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
  -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
  -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

  &--done {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: $team-bg;
    padding-left: 27px;
    padding-top: 12px;
    padding-bottom: 18px;
    box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

    margin-left: 21px;
    width: 83.3%;

    position: relative;

    .register-wrapper__close {
      border: none;
      border-radius: 20px;
      background-color: #fc5500;
      position: absolute;

      top: -15px;
      right: -15px;

      width: 30px;
      height: 30px;

      background-image: url('../img/close.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center center;

      cursor: pointer;
      outline: none;
    }

    .register-wrapper__rank {
      background-image: url('../img/register-done.svg');
      background-repeat: no-repeat;
      background-size: 146px 29px;

      width: 146px;
      height: 29px;

      display: block;

      padding-left: 20px;
      padding-top: 2px;

      position: absolute;
      top: 10px;
      right: -4px;

      font: {
        size: 21px;
        family: $main-font;
        weight: 900;
      }

      color: $text-white;
      line-height: normal;

      text-transform: uppercase;
    }

    .single-info__status {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      margin-left: auto;

      position: absolute;
      bottom: 10px;
      right: 0;
    }

    .register-wrapper__name {
      font: {
        size: 16px;
        weight: 900;
        family: $main-font;
      }

      color: #073f72;
      line-height: normal;

      text-transform: uppercase;

      margin-left: 10px;
      margin-top: 0;
    }

    &__image {
      min-width: 80px;
      max-width: 80px;
      min-height: 85px;
      max-height: 85px;

      position: relative;
    }

    &__photo {
      width: 96%;
      height: auto;
    }

    &__pic {
      position: absolute;
      width: 100%;
      height: auto;
      top: -5px;
      left: -1px;
    }
  }

  &__upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__image {
    min-width: 80px;
    max-width: 80px;
    min-height: 85px;
    max-height: 85px;

    position: relative;
  }

  &__photo {
    width: 96%;
    height: auto;
  }

  &__pic {
    position: absolute;
    width: 100%;
    height: auto;
    top: -5px;
    left: -1px;
  }

  &__submit {
    width: 100%;
  }
}

@media (min-width: $laptop) {
  .register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 21px;
    width: 83.3%;
    background-color: $team-bg;
    padding-left: 27px;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-right: 10px;
    box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 21px;
      width: 83.3%;

      position: relative;

      .register-wrapper__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }

      .single-info__status {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        margin-left: auto;

        position: absolute;
        bottom: 10px;
        right: 0;
      }

      .register-wrapper__name {
        font: {
          size: 16px;
          weight: 900;
          family: $main-font;
        }

        color: #073f72;
        line-height: normal;

        text-transform: uppercase;

        margin-left: 10px;
        margin-top: 0;
      }

      &__image {
        min-width: 80px;
        max-width: 80px;
        min-height: 85px;
        max-height: 85px;
      }

      &__photo {
        width: 96%;
        height: auto;
      }

      &__pic {
        position: absolute;
        width: 100%;
        height: auto;
        top: -5px;
        left: -1px;
      }
    }

    &__upper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__image {
      min-width: 70px;
      max-width: 80px;
      min-height: 75px;
      max-height: 85px;
    }

    &__submit {
      width: 100%;
    }
  }
}
@media (min-width: $netbooks) {
  .register-wrapper {
    display: flex;

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 21px;
      width: 83.3%;

      position: relative;

      .register-wrapper__rank {
        text-transform: uppercase;
      }

      .register-wrapper__name {
        font: {
          size: 18px;
        }
        margin-left: 15px;
      }

      &__image {
        min-width: 81px;
        max-width: 122px;
        min-height: 86px;
        max-height: 124px;

        margin-top: 10px;
      }
    }

    &__upper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__image {
      min-width: 81px;
      max-width: 122px;
      min-height: 86px;
      max-height: 124px;
    }

    &__submit {
      width: 100%;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .register-wrapper {
    display: flex;

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .register-wrapper__name {
        font: {
          size: 20px;
        }
      }

      .single-info__status {
        width: 48px;
        height: 48px;
      }
    }
  }
}
@media (min-width: $notebooks) {
  .register-wrapper {
    display: flex;

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 21px;
      width: 83.3%;

      position: relative;

      .register-wrapper__name {
        font: {
          size: 22px;
        }
      }

      .single-info__status {
        margin-right: 20px;
      }

      &__image {
        min-width: 122px;
        max-width: 142px;
        min-height: 124px;
        max-height: 144px;
      }
    }

    &__image {
      min-width: 122px;
      max-width: 142px;
      min-height: 124px;
      max-height: 144px;
    }
  }
}
@media (min-width: $widebooks) {
  .register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 21px;
    width: 83.3%;
    background-color: $team-bg;
    padding-left: 27px;
    padding-top: 12px;
    padding-bottom: 18px;
    box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 21px;
      width: 83.3%;

      position: relative;

      .register-wrapper__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }

      .register-wrapper__name {
        font: {
          size: 24px;
        }

        color: #073f72;
        line-height: normal;

        text-transform: uppercase;

        margin-left: 20px;
      }
    }

    &__upper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__submit {
      width: 100%;
    }
  }
}
@media (min-width: $hd) {
  .register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 21px;
    width: 83.3%;
    background-color: $team-bg;
    padding-left: 27px;
    padding-top: 12px;
    padding-bottom: 18px;
    box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
    -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

    &--done {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 21px;
      width: 83.3%;

      position: relative;

      .register-wrapper__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }

      .register-wrapper__name {
        font: {
          size: 26px;
          weight: 900;
          family: $main-font;
        }

        color: #073f72;
        line-height: normal;

        text-transform: uppercase;

        margin-left: 30px;
      }
    }

    &__upper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__submit {
      width: 100%;
    }
  }
}
@media (min-width: $fhd) {
  .register-wrapper {
    margin-left: 28px;
    width: 83.3%;
    padding-left: 36px;
    padding-top: 22px;
    padding-bottom: 22px;

    &__image {
      min-width: 189px;
      min-height: 192px;
    }

    &--done {
      display: none;
      background-color: $team-bg;
      padding-left: 27px;
      padding-top: 12px;
      padding-bottom: 18px;
      box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(255,209,0,1);

      margin-left: 28px;
      width: 83.3%;

      position: relative;

      .register-wrapper__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 194px 38px;

        width: 194px;
        height: 38px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 28px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }

      .register-wrapper__name {
        font: {
          size: 30px;
          weight: 900;
          family: $main-font;
        }

        color: #073f72;
        line-height: normal;

        text-transform: uppercase;

        margin-left: 30px;
      }

      .single-info__status {
        width: 64px;
        height: 61px;

        margin-right: 40px;
      }
    }
  }
}
