@media (min-width: $laptop) {
  .side-promo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 97px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-repeat: no-repeat;
      background-size: 98px 38px;
      width: 98px;
      height: 38px;
      bottom: 30px;
      left: -5px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-repeat: no-repeat;
      background-size: 122px 39px;
      width: 122px;
      height: 39px;
      top: -20px;
      right: -5px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 16px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 200px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-repeat: no-repeat;
        background-size: 40px 39px;
        width: 40px;
        height: 38px;
        top: -70px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-repeat: no-repeat;
        background-size: 120px 101px;
        width: 39px;
        height: 101px;
        top: -10px;
        right: -45px;
        z-index: 10;
      }
    }

    &__logo {
      width: 170px;
      height: 73px;
      position: absolute;
      right: 15px;
      bottom: 25px;
      padding-left: 30px;
      padding-top: 10px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 123px;
      height: auto;
    }
  }
}
@media (min-width: $netbooks) {
  .side-promo {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%s;
    padding-left: 33px;
    padding-top: 63px;
    padding-bottom: 157px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 130px 51px;
      width: 130px;
      height: 51px;
      bottom: 30px;
      left: -50px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 163px 52px;
      width: 163px;
      height: 52px;
      top: -15px;
      right: -25px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 22px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 250px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-repeat: no-repeat;
        background-size: 54px 54px;
        width: 54px;
        height: 51px;
        top: -80px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-repeat: no-repeat;
        background-size: 120px 101px;
        width: 39px;
        height: 101px;
        top: -10px;
        right: -45px;
        z-index: 10;
      }
    }

    &__logo {
      width: 226px;
      height: 98px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 30px;
      padding-top: 10px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 164px;
      height: auto;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .side-promo {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%s;
    padding-left: 33px;
    padding-top: 63px;
    padding-bottom: 157px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 130px 51px;
      width: 130px;
      height: 51px;
      bottom: 30px;
      left: -50px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 163px 52px;
      width: 163px;
      height: 52px;
      top: -15px;
      right: -25px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 24px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 280px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-repeat: no-repeat;
        background-size: 54px 54px;
        width: 54px;
        height: 51px;
        top: -80px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-repeat: no-repeat;
        background-size: 156px 100px;
        width: 61px;
        height: 101px;
        top: -10px;
        right: -45px;
        z-index: 10;
      }
    }

    &__logo {
      width: 226px;
      height: 98px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 30px;
      padding-top: 10px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 173px;
      height: auto;
    }
  }
}
@media (min-width: $notebooks) {
  .side-promo {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%s;
    padding-left: 33px;
    padding-top: 63px;
    padding-bottom: 157px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 130px 51px;
      width: 130px;
      height: 51px;
      bottom: 30px;
      left: -50px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 163px 52px;
      width: 163px;
      height: 52px;
      top: -15px;
      right: -25px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 26px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 320px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-repeat: no-repeat;
        background-size: 74px 72px;
        width: 74px;
        height: 72px;
        top: -96px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-repeat: no-repeat;
        background-size: 156px 100px;
        width: 61px;
        height: 101px;
        top: -10px;
        right: -45px;
        z-index: 10;
      }
    }

    &__logo {
      width: 226px;
      height: 98px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 30px;
      padding-top: 10px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 173px;
      height: auto;
    }
  }
}
@media (min-width: $widebooks) {
  .side-promo {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 45px;
    padding-top: 63px;
    padding-bottom: 157px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 184px 73px;
      width: 184px;
      height: 73px;
      bottom: 30px;
      left: -80px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 230px 74px;
      width: 230px;
      height: 74px;
      top: -40px;
      right: -15px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 30px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 440px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-size: 77px 72px;
        width: 77px;
        height: 72px;
        top: -115px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-size: 170px 91px;
        width: 100px;
        height: 91px;
        top: 15px;
        right: 20px;
        z-index: 10;
      }
    }

    &__logo {
      width: 319px;
      height: 138px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 30px;
      padding-top: 20px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 232px;
      height: auto;
    }
  }
}
@media (min-width: $hd) {
  .side-promo {
    width: 94%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 45px;
    padding-top: 63px;
    padding-bottom: 157px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 184px 73px;
      width: 184px;
      height: 73px;
      bottom: 30px;
      left: -80px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 230px 74px;
      width: 230px;
      height: 74px;
      top: -40px;
      right: -10px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 30px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 440px;
      position: relative;
      margin-left: 20px;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-size: 77px 72px;
        width: 77px;
        height: 72px;
        top: -115px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-size: 193px 91px;
        width: 100px;
        height: 91px;
        top: 15px;
        right: -10px;
      }
    }

    &__logo {
      width: 319px;
      height: 138px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 30px;
      padding-top: 20px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 232px;
      height: auto;
    }
  }
}
@media (min-width: $fhd) {
  .side-promo {
    width: 87%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/promo-bg-new.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 33px;
    padding-top: 41px;
    padding-bottom: 188px;
    margin-top: 45px;
    margin-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-2.svg");
      background-size: 245px 97px;
      width: 245px;
      height: 97px;
      bottom: 30px;
      left: -80px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/cloud-1.svg");
      background-size: 307px 98px;
      width: 307px;
      height: 98px;
      top: -40px;
      right: -50px;
      z-index: 10;
    }

    &__description {
      font: {
        size: 48px;
        weight: 900;
        family: $main-font;
      }
      color: $text-white;
      width: 596px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("../img/toy-1.svg");
        background-size: 102px 96px;
        width: 102px;
        height: 96px;
        top: -150px;
        left: 0;
        z-index: 10;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url("../img/slime-small-2.svg");
        background-size: 226px 121px;
        width: 91px;
        height: 121px;
        top: 33px;
        right: -15px;
        z-index: 10;
      }
    }

    &__logo {
      width: 425px;
      height: 184px;
      position: absolute;
      right: -10px;
      bottom: 30px;
      padding-left: 50px;
      padding-top: 20px;
      background-color: $promo-rt-bg;
      box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -webkit-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
      -moz-box-shadow: -4px 4px 1px 1px rgba(252,215,38,1);
    }

    &__image {
      width: 309px;
      height: auto;
    }
  }
}
