.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 48%;
  height: 100vh;

  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-image: url('../img/toy-2.svg');
    background-size: 101px 99px;

    width: 101px;
    height: 99px;

    bottom: -20px;
    right: 130px;
    z-index: 10;
  }
}
