@media (min-width: $laptop) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 54px 52px;

      width: 54px;
      height: 52px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $netbooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 67px 66px;

      width: 66px;
      height: 67px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 70px 68px;

      width: 70px;
      height: 68px;

      bottom: -30px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $notebooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $widebooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: 115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $hd) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 101px 99px;

      width: 101px;
      height: 99px;

      bottom: -115px;
      right: 130px;
      z-index: 10;
    }
  }
}
@media (min-width: $fhd) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 135px 132px;

      width: 135px;
      height: 132px;

      bottom: 155px;
      right: 180px;
      z-index: 10;
    }
  }
}
