.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 48%;
  height: 100vh;

  &__gallery {
    display: block;

    background-image: url('../img/side-link.png');
    background-repeat: no-repeat;
    background-size: 207px 47px;

    width: 207px;
    height: 47px;

    position: relative;

    font: {
      size: 21px;
      weight: 900;
      family: $main-font;
    }

    color: $text-gallery;
    line-height: normal;

    text-align: center;

    margin-top: 60px;
    margin-left: 70px;
    padding-top: 10px;

    text-decoration: none;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/toy-2.svg');
      background-size: 54px 52px;

      width: 54px;
      height: 52px;

      bottom: -115px;
      right: 130px;
      z-index: 10;
    }
  }
}

@media (min-width: $laptop) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      display: block;

      background-image: url('../img/side-link.png');
      background-repeat: no-repeat;
      background-size: 207px 47px;

      width: 207px;
      height: 47px;

      font: {
        size: 21px;
        weight: 900;
        family: $main-font;
      }

      color: $text-gallery;
      line-height: normal;

      text-align: center;

      margin-top: 60px;
      margin-left: 70px;
      padding-top: 10px;

      text-decoration: none;
    }
  }
}
@media (min-width: $netbooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    position: relative;

    &__gallery {
      background-size: 259px 59px;
      width: 259px;
      height: 59px;

      font-size: 27px;

      margin-top: 40px;
      padding-top: 13px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 67px 66px;

        width: 66px;
        height: 67px;

        bottom: -115px;
        right: 130px;
        z-index: 10;
      }
    }
  }
}
@media (min-width: $wide-netbooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      background-size: 273px 62px;
      width: 273px;
      height: 62px;

      font-size: 28px;

      margin-top: 40px;
      padding-top: 13px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 70px 68px;

        width: 70px;
        height: 68px;

        bottom: -115px;
        right: 130px;
        z-index: 10;
      }
    }
  }
}
@media (min-width: $notebooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      background-size: 273px 62px;
      width: 273px;
      height: 62px;

      font-size: 28px;

      margin-top: 40px;
      padding-top: 13px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 101px 99px;

        width: 101px;
        height: 99px;

        bottom: -115px;
        right: 130px;
        z-index: 10;
      }
    }
  }
}
@media (min-width: $widebooks) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      background-size: 324px 73px;
      width: 324px;
      height: 73px;

      font-size: 33px;

      margin-top: 40px;
      padding-top: 13px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 101px 99px;

        width: 101px;
        height: 99px;

        bottom: -115px;
        right: 130px;
        z-index: 10;
      }
    }
  }
}
@media (min-width: $hd) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      background-size: 389px 88px;
      width: 389px;
      height: 88px;

      font-size: 40px;

      margin-top: 40px;
      padding-top: 20px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 101px 99px;

        width: 101px;
        height: 99px;

        bottom: -90px;
        right: 130px;
        z-index: 10;
      }
    }
  }
}
@media (min-width: $fhd) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 48%;
    height: 100vh;

    &__gallery {
      background-size: 519px 118px;
      width: 519px;
      height: 118px;

      font-size: 54px;

      margin-top: 50px;
      padding-top: 20px;

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/toy-2.svg');
        background-size: 135px 132px;

        width: 135px;
        height: 132px;

        bottom: -90px;
        right: 180px;
        z-index: 10;
      }
    }
  }
}
