.side-slider {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    background-image: url('../img/other-team-bg.svg');
    background-repeat: no-repeat;
    background-size: auto;

    width: 470px;
    height: 50px;

    text-align: center;
    padding-top: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $team-bg;
    box-shadow:4px 4px 0px 0px rgba(52,191,183,1);
    -webkit-box-shadow:4px 4px 0px 0px rgba(52,191,183,1);
    -moz-box-shadow:4px 4px 0px 0px rgba(52,191,183,1);

    margin-top: 12px;

    position: relative;

    height: 225px;
    width: 298px;

    text-decoration: none;
  }

  &__wrapper {
    width: 298px;
  }

  &__nr {
    font: {
      family: $main-font;
      size: 24px;
      weight: 900;
    }

    color: $text-white;
    line-height: 35px;

    display: block;

    background-color: $other-nr;
    border-radius: 20px;

    width: 37.5px;
    height: 37.5px;

    text-align: center;

    position: absolute;
    top: 25px;
    right: 75px;
  }

  &__captain {
    font: {
      family: $main-font;
      size: 15px;
      weight: 900;
    }

    color: $text-label;
  }

  &__name {
    font: {
      size: 24px;
      weight: 900;
      family: $main-font;
    }

    line-height: normal;
    color: $text-input;
    text-transform: uppercase;
  }

  &__image {
    width: 142px;
    margin-top: 14px;
    margin-bottom: 5px;
  }

  .swiper-container {
    width: 480px !important;
    height: 100% !important;

    margin-left: 0;
    margin-right: 0;

    padding-bottom: 20px !important;
  }

  .swiper-slide {
    width: 298px !important;
    height: 225px !important;

    margin-left: 91px !important;
    margin-right: 91px !important;
  }

  .swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
    background-size: 69px 84px;

    width: 69px;
    height: 84px;

    top: 40%;
  }

  .swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
    background-size: 69px 84px;
    width: 69px;
    height: 84px;

    top: 40%;
  }
}
