.sidebar-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/sidebar-info.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%s;

  width: 58%;
  height: 33%;

  margin-left: 28%;

  &__title {
    font: {
      family: $main-font;
      size: 47px;
      weight: 900;
    }

    color: $text-white;

    margin-bottom: 0;
    margin-top: 70px;
  }

  &__promo {
    font: {
      family: $secondary-font;
      size: 67px;
      weight: 700;
    }

    line-height: 70px;
    text-align: center;
    color: $text-white;

    margin: 0;
  }

  &__team {
    font: {
      family: $secondary-font;
      size: 84px;
      weight: 700;
    }

    line-height: 70px;
    text-align: center;
    color: $text-white;

    margin: 0;
  }
}
