.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../img/sidebar-bg.svg");
  background-repeat: repeat-y;
  background-position: top -5px right;
  background-size: cover;

  min-height: 768px;
  max-height: 100vh;
  width: 40%;
  position: relative;

  margin-left: -55px;
  padding-left: 55px;

  &__logo {
    width: 75%;
    padding-left: 55px;
    padding-top: 30px;
  }
  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url("../img/slime-big-part.svg");
    background-repeat: no-repeat;
    background-size: 327px 329px;
    bottom: 0;
    left: -25px;
    width: 327px;
    height: 262px;
    z-index: 10;
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url("../img/kid.svg");
    background-repeat: no-repeat;
    background-size: 439px 762px;
    bottom: 0;
    left: -40px;
    width: 430px;
    height: 515px;
    z-index: 10;
  }
}

@media (min-width: $laptop) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1024px;
    max-height: 100%;
    width: 40%;
    position: relative;

    margin-left: -55px;
    padding-left: 55px;

    &__logo {
      width: 75%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-repeat: no-repeat;
      background-size: 327px 329px;
      bottom: 0;
      left: -25px;
      width: 327px;
      height: 262px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-repeat: no-repeat;
      background-size: 439px 762px;
      bottom: 0;
      left: -40px;
      width: 430px;
      height: 515px;
      z-index: 10;
    }
  }
}
@media (min-width: $netbooks) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-repeat: no-repeat;
      background-size: 349px 351px;
      bottom: 115px;
      left: -70px;
      width: 349px;
      height: 190px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-repeat: no-repeat;
      background-size: 439px 762px;
      bottom: 0;
      left: -40px;
      width: 430px;
      height: 515px;
      z-index: 10;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-repeat: no-repeat;
      background-size: 368px 370px;
      bottom: 100px;
      left: -15px;
      width: 368px;
      height: 223px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-repeat: no-repeat;
      background-size: 439px 762px;
      bottom: 0;
      left: -40px;
      width: 430px;
      height: 515px;
      z-index: 10;
    }
  }
}
@media (min-width: $notebooks) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1200px;
    height: auto;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-repeat: no-repeat;
      background-size: 409px 411px;
      bottom: 115px;
      left: -60px;
      width: 409px;
      height: 225px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-repeat: no-repeat;
      background-size: 493px 1016px;
      bottom: 0;
      left: -40px;
      width: 788px;
      height: 666px;
      z-index: 10;
    }
  }
}
@media (min-width: $widebooks) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-size: 524px 527px;
      bottom: 115px;
      left: -70px;
      width: 524px;
      height: 320px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-size: 493px 1016px;
      bottom: 0;
      left: -40px;
      width: 500px;
      height: 666px;
      z-index: 10;
    }
  }
}
@media (min-width: $hd) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-size: 524px 527px;
      bottom: 115px;
      left: -70px;
      width: 524px;
      height: 320px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-size: 705px 1206px;
      bottom: 0;
      left: -95px;
      width: 792px;
      height: 788px;
      z-index: 10;
    }
  }
}
@media (min-width: $fhd) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1440px;
    height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 57.7%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__image {
      width: 450px;
      height: 265px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url("../img/slime-big-part.svg");
      background-size: 655px 658px;
      bottom: 117px;
      left: -70px;
      width: 655px;
      height: 420px;
      z-index: 10;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url("../img/kid.svg");
      background-size: 705px 1206px;
      bottom: 0;
      left: -95px;
      width: 792px;
      height: 788px;
      z-index: 10;
    }
  }
}
