@media (min-width: 1025px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 350px;
      height: 50px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);

      position: relative;
      height: 160px;
      width: 160px;
      text-decoration: none;
    }

    &__wrapper {
      width: 160px;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-white;
      line-height: 24px;
      display: block;
      background-color: $other-nr;
      border-radius: 20px;
      width: 26px;
      height: 26px;
      text-align: center;
      position: absolute;
      top: 22px;
      right: 66px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 12px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 16px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 100px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 350px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;

      margin-top: 2px;
    }

    .swiper-slide {
      width: 64% !important;
      height: 170px !important;
      margin-left: 18% !important;
      margin-right: 18% !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 36px 45px;
      width: 36px;
      height: 45px;
      top: 45%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 36px 45px;
      width: 36px;
      height: 45px;
      top: 45%;
    }
  }
}

@media (min-width: 1281px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 350px;
      height: 40px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      margin-top: 10px;
      position: relative;
      height: 190px;
      width: 64%;
      text-decoration: none;
    }

    &__wrapper {
      width: 298px;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 20px;
        weight: 900;
      }
      color: $text-white;
      line-height: 28px;
      display: block;
      background-color: $other-nr;
      border-radius: 20px;
      width: 28.5px;
      height: 28.5px;
      text-align: center;
      position: absolute;
      top: 20px;
      right: 80px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 15px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 20px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 110px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 400px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;
    }

    .swiper-slide {
      width: 64% !important;
      height: 190px !important;
      margin-left: 18% !important;
      margin-right: 18% !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 45px 56px;
      width: 45px;
      height: 56px;
      top: 40%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 45px 56px;
      width: 45px;
      height: 56px;
      top: 40%;
    }
  }
}
@media (min-width: 1367px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 370px;
      height: 40px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      margin-top: 10px;
      position: relative;
      height: 190px;
      width: 64%;
      text-decoration: none;
    }

    &__wrapper {
      width: 64%;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 22px;
        weight: 900;
      }
      color: $text-white;
      line-height: 32px;
      display: block;
      background-color: $other-nr;
      border-radius: 20px;
      width: 32.5px;
      height: 32.5px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: 75px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 15px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 20px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 116px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 426px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;
    }

    .swiper-slide {
      width: 64% !important;
      height: 190px !important;
      margin-left: 18% !important;
      margin-right: 18% !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 45px 56px;
      width: 45px;
      height: 56px;
      top: 40%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 45px 56px;
      width: 45px;
      height: 56px;
      top: 40%;
    }
  }
}

@media (min-width: 1441px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 400px;
      height: 45px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      margin-top: 10px;
      position: relative;
      height: 210px;
      width: 64%;
      text-decoration: none;
    }

    &__wrapper {
      width: 64%;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 22px;
        weight: 900;
      }
      color: $text-white;
      line-height: 32px;
      display: block;
      background-color: $other-nr;
      border-radius: 20px;
      width: 32.5px;
      height: 32.5px;
      text-align: center;
      position: absolute;
      top: 20px;
      right: 105px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 15px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 24px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 102px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 500px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;
    }

    .swiper-slide {
      width: 64% !important;
      height: 210px !important;
      margin-left: 18% !important;
      margin-right: 18% !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 56px 64px;
      width: 56px;
      height: 64px;
      top: 40%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 56px 64px;
      width: 56px;
      height: 64px;
      top: 40%;
    }
  }
}

@media (min-width: 1601px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 470px;
      height: 50px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      margin-top: 12px;
      position: relative;
      height: 225px;
      width: 298px;
      text-decoration: none;
    }

    &__wrapper {
      width: 298px;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 24px;
        weight: 900;
      }
      color: $text-white;
      line-height: 35px;
      display: block;
      background-color: $other-nr;
      border-radius: 20px;
      width: 37.5px;
      height: 37.5px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: 75px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 15px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 24px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 142px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 480px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;
    }

    .swiper-slide {
      width: 298px !important;
      height: 225px !important;
      margin-left: 91px !important;
      margin-right: 91px !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 69px 84px;
      width: 69px;
      height: 84px;
      top: 40%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 69px 84px;
      width: 69px;
      height: 84px;
      top: 40%;
    }
  }
}
@media (min-width: 1921px) {
  .side-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      background-image: url("../img/other-team-bg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      width: 633px;
      height: 66px;
      text-align: center;
      padding-top: 10px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $team-bg;
      box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -webkit-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      -moz-box-shadow: 4px 4px 0 0 rgba(52,191,183,1);
      margin-top: 16px;
      position: relative;
      height: 300px;
      width: 400px;
      text-decoration: none;
    }

    &__wrapper {
      width: 298px;
    }

    &__nr {
      font: {
        family: $main-font;
        size: 36px;
        weight: 900;
      }
      color: $text-white;
      line-height: 48px;
      display: block;
      background-color: $other-nr;
      border-radius: 30px;
      width: 51px;
      height: 53px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: 100px;
    }

    &__captain {
      font: {
        family: $main-font;
        size: 20px;
        weight: 900;
      }
      color: $text-label;
    }

    &__name {
      font: {
        size: 36px;
        weight: 900;
        family: $main-font;
      }
      line-height: normal;
      color: $text-input;
      text-transform: uppercase;
    }

    &__image {
      width: 189px;
      margin-top: 14px;
      margin-bottom: 5px;
    }

    .swiper-container {
      width: 636px !important;
      height: 100% !important;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 20px !important;
    }

    .swiper-slide {
      width: 400px !important;
      height: 300px !important;
      margin-left: 118px !important;
      margin-right: 118px !important;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
      background-size: 91px 113px;
      width: 91px;
      height: 113px;
      top: 40%;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
      background-size: 91px 113px;
      width: 91px;
      height: 113px;
      top: 40%;
    }
  }
}
