.sidebar-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/sidebar-info.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%s;

  width: 58%;
}
