.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-image: url('../img/sidebar-bg.svg');
  background-repeat: repeat-y;
  background-position: center right;
  background-size: auto 100vh;

  margin-left: -55px;

  height: 100vh;
  width: 34.375%;

  &__logo {
    width: 51.2%;
  }
}
