.single-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: $team-bg;
  box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
  -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
  -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

  position: relative;

  &--send {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-bottom: 10px;
    box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

    .single-info__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;
      margin-top: 10px;

      .single-info__double {
        position: relative;
        background-color: #34bfb7;
        border: none;
        border-radius: 20px;
        width: 30px;
        height: 30px;

        cursor: pointer;
        outline: none;

        .fa-share::before {
          position: absolute;
          content: '\f064';

          font-size: 22px;
          color: $text-white;

          top: 4px;
          left: 4px;
        }
      }

      .single-info__sms {
        position: relative;
        background-color: #34bfb7;
        border: none;
        border-radius: 20px;
        width: 30px;
        height: 30px;

        cursor: pointer;
        outline: none;

        font: {
          size: 9px;
          weight: 600;
          family: $main-font;
        }

        color: $text-white;
        line-height: 9px;
        text-transform: uppercase;

        padding-top: 2px;
        padding-left: 5px;
      }

      .single-info__vk {
        position: relative;
        background-color: $btn-enter;
        border: none;
        border-radius: 20px;
        width: 30px;
        height: 30px;

        cursor: pointer;
        outline: none;

        .fa-vk::before {
          position: absolute;
          content: '\f189';

          font-size: 20px;
          color: $text-white;

          top: 4px;
          left: 4px;
        }
      }
    }
  }

  &--captain {
    position: relative;
    padding-top: 20px;

    .single-info__rank {
      background-image: url('../img/register-done.svg');
      background-repeat: no-repeat;
      background-size: 120px 29px;
      width: 120px;
      height: 29px;
      display: block;
      padding-left: 20px;
      padding-top: 6px;
      position: absolute;
      top: 2px;
      right: -4px;

      font: {
        size: 14px;
        family: $main-font;
        weight: 900;
      }

      color: $text-white;
      line-height: normal;

      text-transform: uppercase;
    }
  }

  &__image {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  &__description {
    font: {
      family: $main-font;
      size: 12px;
      weight: 900;
    }
    color: $text-invite;
    line-height: 14px;
    text-transform: uppercase;
    width: 225px;
    margin-left: 15px;
  }

  &__description--send {
    color: $text-send;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__link {
    font: {
      family: $main-font;
      size: 10px;
      weight: 900;
    }
    color: $text-invite;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid $text-send;
    margin-left: 15px;
    margin-bottom: 5px;
    position: relative;
  }

  &__success {
    display: none;
    font: {
      family: $main-font;
      size: 12px;
      weight: 900;
    }
    color: $text-send;
    margin-left: 15px;
  }

  &__status {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    margin-left: auto;
  }
}

@media (min-width: $smartphones) {
  .single-info {

    &--send {
      justify-content: space-evenly;
      position: relative;

      .single-info__controls {
        width: 25%;
        margin: 0 auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
    &--captain {
      padding-top: 0;

      .single-info__rank {
        font-size: 17px;
        padding-top: 4px;
      }
    }

    &__description {
      font-size: 15px;
    }

    &__description--send {
      font-size: 15px;
    }

    &__link {
      font-size: 12px;
    }

    &__image {
      width: 45px;
      height: 47px;
    }

    &__status {
      width: 40px;
      height: 39px;
    }
  }
}

@media (min-width: $tablets) {
  .single-info {

    &--send {
      justify-content: space-evenly;
      position: relative;

      .single-info__controls {
        width: 25%;
        margin: 0 auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 10px;

        .single-info__double {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-share::before {
            font-size: 26px;
            top: 6px;
            left: 8px;
          }
        }

        .single-info__sms {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          font: {
            size: 12px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 12px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 24px;
            color: $text-white;

            top: 7px;
            left: 6px;
          }
        }
      }
    }
    &--captain {
      padding-top: 0;

      .single-info__rank {
        background-size: 194px 38px;
        width: 194px;
        height: 38px;
        font-size: 29px;
        padding-top: 2px;

        top: 10px;
      }
    }

    &__description {
      font-size: 24px;
      width: 350px;
      line-height: 26px;
    }

    &__description--send {
      font-size: 24px;
    }

    &__link {
      font-size: 20px;
    }

    &__image {
      width: 73px;
      height: 76px;
    }

    &__status {
      width: 64px;
      height: 61px;
    }
  }
}

@media (min-width: $laptop) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        position: relative;

        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;

        .single-info__double {
          position: relative;
          background-color: #34bfb7;
          border: none;
          border-radius: 20px;
          width: 30px;
          height: 30px;

          cursor: pointer;
          outline: none;

          .fa-share::before {
            position: absolute;
            content: '\f064';

            font-size: 22px;
            color: $text-white;

            top: 4px;
            left: 4px;
          }
        }

        .single-info__sms {
          position: relative;
          background-color: #34bfb7;
          border: none;
          border-radius: 20px;
          width: 30px;
          height: 30px;

          cursor: pointer;
          outline: none;

          font: {
            size: 9px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 9px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          position: relative;
          background-color: $btn-enter;
          border: none;
          border-radius: 20px;
          width: 30px;
          height: 30px;

          cursor: pointer;
          outline: none;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 20px;
            color: $text-white;

            top: 4px;
            left: 4px;
          }
        }
      }
    }

    &--captain {
      position: relative;
      padding-top: 20px;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 120px 29px;
        width: 120px;
        height: 29px;
        display: block;
        padding-left: 20px;
        padding-top: 6px;
        position: absolute;
        top: 2px;
        right: -4px;

        font: {
          size: 14px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 35px;
      height: 35px;
      margin-left: 10px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 12px;
        weight: 900;
      }
      color: $text-invite;
      line-height: 14px;
      text-transform: uppercase;
      width: 225px;
      margin-left: 15px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 15px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 10px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 15px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 12px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 15px;
    }

    &__status {
      width: 36px;
      height: 36px;
      margin-right: 20px;
      margin-left: auto;
    }
  }
}
@media (min-width: $netbooks) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        width: 100%;
        margin-top: -5px;
        margin-bottom: 5px;

        .single-info__double {
          border-radius: 30px;
          width: 30px;
          height: 30px;

          .fa-share::before {
            font-size: 26px;
            top: 6px;
            left: 6px;
          }
        }

        .single-info__sms {
          border-radius: 30px;
          width: 30px;
          height: 30px;

          font: {
            size: 12px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 12px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          border-radius: 30px;
          width: 30px;
          height: 30px;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 24px;
            color: $text-white;

            top: 7px;
            left: 6px;
          }
        }
      }
    }

    &--captain {
      position: relative;
      padding-top: 0;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 130px 29px;

        width: 130px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 3px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 18px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 35px;
      height: 35px;
      margin-left: 16px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-invite;
      line-height: 20px;
      text-transform: uppercase;
      width: 225px;
      margin-left: 15px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 15px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 12px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 15px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 12px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 15px;
    }

    &__status {
      width: 36px;
      height: 36px;
      margin-right: 20px;
      margin-left: auto;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        width: 70%;
        margin: 0 auto;
        margin-top: -5px;
        margin-bottom: 5px;

        .single-info__double {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-share::before {
            font-size: 26px;
            top: 6px;
            left: 6px;
          }
        }

        .single-info__sms {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          font: {
            size: 12px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 12px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 24px;
            color: $text-white;

            top: 7px;
            left: 6px;
          }
        }
      }
    }

    &--captain {
      position: relative;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 130px 29px;

        width: 130px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 3px;

        position: absolute;
        top: 5px;
        right: -4px;

        font: {
          size: 18px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 55px;
      height: 57px;
      margin-left: 22px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: 16px;
      text-transform: uppercase;
      width: 225px;
      margin-left: 15px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 30px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 13px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 30px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 30px;
    }

    &__status {
      width: 48px;
      height: 48px;
      margin-right: 30px;
      margin-left: auto;
    }
  }
}
@media (min-width: $notebooks) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        width: 50%;
        margin: 0 auto;
        margin-top: -5px;
        margin-bottom: 5px;

        .single-info__double {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-share::before {
            font-size: 26px;
            top: 6px;
            left: 6px;
          }
        }

        .single-info__sms {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          font: {
            size: 12px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 12px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 24px;
            color: $text-white;

            top: 7px;
            left: 6px;
          }
        }
      }
    }

    &--captain {
      position: relative;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 130px 29px;

        width: 130px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 4px;

        position: absolute;
        top: 5px;
        right: -4px;

        font: {
          size: 18px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 55px;
      height: 57px;
      margin-left: 22px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      width: 225px;
      margin-left: 15px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 30px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 30px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 30px;
    }

    &__status {
      width: 48px;
      height: 48px;
      margin-right: 30px;
      margin-left: auto;
    }
  }
}
@media (min-width: $widebooks) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
    }

    &--captain {
      position: relative;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 55px;
      height: 57px;
      margin-left: 22px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      width: 225px;
      margin-left: 25px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 30px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 30px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 30px;
    }

    &__status {
      width: 48px;
      height: 48px;
      margin-right: 30px;
      margin-left: auto;
    }
  }
}
@media (min-width: $hd) {
  .single-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        width: 25%;
        margin: 0 auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 5px;

        .single-info__double {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-share::before {
            font-size: 26px;
            top: 6px;
            left: 8px;
          }
        }

        .single-info__sms {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          font: {
            size: 12px;
            weight: 600;
            family: $main-font;
          }

          color: $text-white;
          line-height: 12px;
          text-transform: uppercase;

          padding-top: 2px;
          padding-left: 5px;
        }

        .single-info__vk {
          border-radius: 30px;
          width: 40px;
          height: 40px;

          .fa-vk::before {
            position: absolute;
            content: '\f189';

            font-size: 24px;
            color: $text-white;

            top: 7px;
            left: 6px;
          }
        }
      }
    }

    &--captain {
      position: relative;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 55px;
      height: 57px;
      margin-left: 22px;
    }

    &__description {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      width: 225px;
      margin-left: 25px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 30px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-invite;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid $text-send;
      margin-left: 30px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 14px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 30px;
    }

    &__status {
      width: 48px;
      height: 48px;
      margin-right: 30px;
      margin-left: auto;
    }
  }
}
@media (min-width: $fhd) {
  .single-info {
    width: 100%;
    background-color: $team-bg;
    box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -webkit-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);
    -moz-box-shadow: -4px 4px 0 0 rgba(28,131,9,1);

    &--send {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 10px;
      box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -webkit-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);
      -moz-box-shadow: -4px 4px 0 0 rgba(255,209,0,1);

      .single-info__controls {
        width: 20%;
        margin: 0 auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 20px;
      }
    }

    &--captain {
      position: relative;

      .single-info__rank {
        background-image: url('../img/register-done.svg');
        background-repeat: no-repeat;
        background-size: 146px 29px;

        width: 146px;
        height: 29px;

        display: block;

        padding-left: 20px;
        padding-top: 2px;

        position: absolute;
        top: 10px;
        right: -4px;

        font: {
          size: 21px;
          family: $main-font;
          weight: 900;
        }

        color: $text-white;
        line-height: normal;

        text-transform: uppercase;
      }
    }

    &__image {
      width: 73px;
      height: 76px;
      margin-left: 22px;
    }

    &__description {
      font: {
        size: 24px;
      }

      width: 292px;
      margin-left: 25px;
    }

    &__description--send {
      color: $text-send;
      margin-left: 32px;
      margin-bottom: 0;
      margin-top: 10px;
    }

    &__link {
      font: {
        family: $main-font;
        size: 24px;
        weight: 900;
      }
      margin-left: 32px;
      margin-bottom: 5px;
      position: relative;
    }

    &__success {
      font: {
        family: $main-font;
        size: 16px;
        weight: 900;
      }
      color: $text-send;
      margin-left: 32px;
    }

    &__status {
      width: 64px;
      height: 61px;
      margin-right: 50px;
      margin-left: auto;
    }
  }
}
