.top-panel {
  position: fixed;
  top: 20%;
  width: 360px;
  height: 580px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  transform: translateX(-200%);
  z-index: 1000;

  background-image: url('../img/prize-bg.png');
  background-repeat: no-repeat;
  background-size: 359px 580px;
}

.message {
  color: #fff;
  font-weight: 300;
  position: relative;
  padding: 2em;
  margin: 0 auto;
  max-width: 360px;

  &__title {
    font: {
      size: 31px;
      weight: 900;
      family: $main-font;
    }

    color: $prize-text;
    line-height: 31px;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;

    padding-bottom: 280px;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../img/prize-star.png');
      background-repeat: no-repeat;
      background-size: 273px 280px;
      width: 273px;
      height: 280px;
      top: 30px;
      left: 10px;
    }

    &::after {
      position: absolute;
      content: '';
      background-image: url('../img/ps.png');
      background-repeat: no-repeat;
      background-size: 200px 174px;
      width: 200px;
      height: 174px;
      top: 80px;
      left: 50px;
    }
  }

  &__close {
    border: none;
    border-radius: 20px;
    background-color: #fc5500;
    position: absolute;

    top: -25px;
    right: -10px;

    width: 30px;
    height: 30px;

    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;

    cursor: pointer;
    outline: none;
  }
}

.slide-panel__upper {
  .slide-panel__description {
    font: {
      size: 18px;
      weight: 900;
      family: $main-font;
    }

    color: $prize-text;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    width: 300px;
    text-align: center;
  }
}

.slide-panel__lower {
  margin-top: 20px;
  .slide-panel__description {
    font: {
      size: 18px;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
    width: 300px;
    text-align: center;
  }

  .slide-panel__notification {
    font: {
      size: 6px;
      weight: 300;
      family: $main-font;
    }

    color: $text-white;
    line-height: 8px;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    margin-top: 5px;
  }
}

.open {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0;
}
/* Переключатель панели */

label.btn {
  display: block;
  position: fixed;
  left: 0;
  top: 25%;
  background-image: url('../img/prize-btn.png');
  background-repeat: no-repeat;
  background-size: 63px 262px;
  padding: 8px 16px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  height: 262px;
  width: 63px;

  z-index: 10;
}

.btn-span {
  display: block;
  color: $prize-btn;
  font-size: 37.5px;
  font-family: $main-font;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  transform: rotate(90deg);

  padding-left: 35px;
  padding-top: 10px;
}

.open:checked ~ .top-panel {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s;
}

.open:not(:checked) ~ .top-panel {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s;
}


@media (min-width: $fhd) {
  .top-panel {
    position: fixed;
    top: 34%;
    width: 480px;
    height: 774px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    transform: translateX(-200%);
    z-index: 1000;

    background-image: url('../img/prize-bg.png');
    background-repeat: no-repeat;
    background-size: 479px 774px;
  }

  .message {
    color: #fff;
    font-weight: 300;
    position: relative;
    padding: 2em;
    margin: 0 auto;
    max-width: 480px;

    &__title {
      font: {
        size: 42px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 42px;
      text-transform: uppercase;

      margin-top: 0;
      margin-bottom: 0;

      padding-bottom: 390px;

      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('../img/prize-star.png');
        background-repeat: no-repeat;
        background-size: 364px 374px;
        width: 364px;
        height: 374px;
        top: 45px;
        left: 10px;
      }

      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/ps.png');
        background-repeat: no-repeat;
        background-size: 267px 232px;
        width: 267px;
        height: 232px;
        top: 115px;
        left: 65px;
      }
    }

    &__close {
      border: none;
      border-radius: 30px;
      background-color: #fc5500;
      position: absolute;

      top: -25px;
      right: -10px;

      width: 40px;
      height: 40px;

      background-image: url('../img/close.png');
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center center;

      cursor: pointer;
      outline: none;
    }
  }

  .slide-panel__upper {
    .slide-panel__description {
      font: {
        size: 24px;
        weight: 900;
        family: $main-font;
      }

      color: $prize-text;
      line-height: 24px;
      text-transform: uppercase;

      margin: 0;
      width: 380px;
      text-align: center;
    }
  }

  .slide-panel__lower {
    margin-top: 20px;
    .slide-panel__description {
      font: {
        size: 24px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: 24px;
      text-transform: uppercase;

      margin: 0;
      width: 380px;
      text-align: center;
    }

    .slide-panel__notification {
      font: {
        size: 8px;
        weight: 300;
        family: $main-font;
      }

      color: $text-white;
      line-height: 8px;
      text-transform: uppercase;
      text-align: center;

      margin: 0;
      margin-top: 10px;
    }
  }

  .open {
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
  }
  /* Переключатель панели */

  label.btn {
    display: block;
    position: fixed;
    left: 0;
    top: 35%;
    background-image: url('../img/prize-btn.png');
    background-repeat: no-repeat;
    background-size: 85px 350px;
    padding: 8px 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    height: 350px;
    width: 85px;

    z-index: 10;
  }

  .btn-span {
    display: block;
    color: $prize-btn;
    font-size: 50px;
    font-family: $main-font;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    transform: rotate(90deg);

    padding-left: 35px;
    padding-top: 10px;
  }

  .open:checked ~ .top-panel {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
  }

  .open:not(:checked) ~ .top-panel {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
  }
}
