.top-panel {
    background: #39464e;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Блок сообщения */
.message {
  color: #fff;
  font-weight: 300;
  position: relative;
  padding: 2em;
  margin: 0 auto;
  max-width: 980px;
}

.open {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0;
}
/* Переключатель панели */

/* Переключатель панели */
label.btn {
    display: block;
    position: absolute;
    right: 25px;
    top: 100%;
    /*bottom: -35px;*/
    cursor: pointer;
    background: #2bbbad;
    border-radius: 0 0 3px 3px;
    padding: 8px 16px;
    color: #fff;
    font-size: 100%;
    line-height: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 9999;
}

/* Переключатель при наведении */
label.btn:hover {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* Стрелка переключателя вниз */
label.btn:after {
    content: '\f078';
    font: normal 18px/1 'FontAwesome';
    text-decoration: inherit;
}
.open:checked ~ .top-panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
}

.open:not(:checked) ~ .top-panel {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35s;
}
/* Цвет переключателя при клике */

.open:checked ~ .top-panel > label.btn {
    background: #dd6149;
}
/* Стрелка переключателя вверх*/

.open:checked ~ .top-panel > label.btn:after {
    content: '\f077';
    font: normal 18px/1 'FontAwesome';
}
