@media (min-width: 1025px) {
  .status-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__notification {
      font: {
        family: $main-font;
        size: 21px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}

@media (min-width: 1281px) {
  .status-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__notification {
      font: {
        family: $main-font;
        size: 21px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}
@media (min-width: 1367px) {
  .status-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__notification {
      font: {
        family: $main-font;
        size: 21px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}

@media (min-width: 1441px) {
  .status-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__notification {
      font: {
        family: $main-font;
        size: 21px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}

@media (min-width: 1601px) {
  .status-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__notification {
      font: {
        family: $main-font;
        size: 21px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}
@media (min-width: 1921px) {
  .status-team {
    width: 100%;

    &__notification {
      font: {
        family: $main-font;
        size: 28px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
    }
  }
}
