$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-wide: 1200px;

$main-font: "PFSquareSansPro", sans-serif;
$body-text: #ffffff;
$body-text-black: #333333;
/*Цвета фона*/
$body-bg: #ffffff;

$btn-bg: #89c029;
$btn-border: #89c029;
$btn-reset-text: #1191db;
$btn-reser-hover: #ff0000;

$feature-bg: #ffbd2e;
$feauter-important-text: #ffbd2e;
