@media (min-width: $laptop) {
  .start-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 20%;

    z-index: 20;

    &__customize {
      order: 2;
    }

    &__info {
      order: 1;
    }

    &__submit {
      display: block;
      align-self: flex-start;
      position: absolute;
      bottom: 10%;
      left: 40%;
      width: 505px;
      height: 65px;
      background-image: url("../img/start-submit.svg");
      background-repeat: no-repeat;
      background-size: 505px 65px;
      background-color: transparent;
      border: none;
      font: {
        family: $main-font;
        size: 36px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
      text-transform: uppercase;

      cursor: pointer;
      outline: none;

      text-decoration: none;
      text-align: center;
      padding-top: 10px;
    }
  }
}
@media (min-width: $netbooks) {
  .start-content {
    width: 100%;

    justify-content: space-evenly;

    &__submit {
      bottom: 15%;
      left: 50%;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15%;

    &__submit {
      bottom: 10%;
    }
  }
}
@media (min-width: $notebooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding-bottom: 20%;
    position: relative;

    &__submit {
      position: absolute;
      bottom: 13%;
      left: 50%;
    }
  }
}
@media (min-width: $widebooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 23%;
    padding-bottom: 15%;

    width: 76%;

    &__customize {
      order: 1;
    }

    &__info {
      order: 2;
    }

    &__submit {
      bottom: 10%;
      left: 15%;
    }
  }
}
@media (min-width: $hd) {
  .start-content {
    flex-direction: row;

    align-items: center;
    margin-left: 28%;
    padding-bottom: 10%;

    width: 70%;
    justify-content: space-evenly;

    &__submit {
      align-self: flex-start;
      position: absolute;
      bottom: 100px;
      right: 0;
      width: 505px;
      height: 65px;
      background-image: url("../img/start-submit.svg");
      background-repeat: no-repeat;
      background-size: 505px 65px;
      background-color: transparent;
      border: none;
      font: {
        family: $main-font;
        size: 36px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
@media (min-width: $fhd) {
  .start-content {
    width: 70%;
    justify-content: space-evenly;
  }
}
