@media (min-width: $laptop) {
  .start-custom {
    background-image: url('../img/custom-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 703px;
    height: 955px;

    margin-top: -90px;
  }
}
