.start-custom {
  background-image: url('../img/custom-bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 753px;
  height: 1023px;

  margin-top: -10%;
}

@media (min-width: $smartphones) {

}

@media (min-width: $tablets) {

}

@media (min-width: $laptop) {
  .start-custom {
    background-image: url('../img/custom-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 753px;
    height: 1023px;

    margin-top: -10%;
  }
}

@media (min-width: $netbooks){
  .start-custom {
    width: 753px;
    height: 1023px;
  }
}

@media (min-width: $wide-netbooks){
  .start-custom {
    width: 830px;
    height: 1130px;
  }
}

@media (min-width: $notebooks){
  .start-custom {
    width: 830px;
    height: 1130px;
  }
}

@media (min-width: $hd) {
  .start-custom {
    width: 830px;
    height: 1130px;

    margin-top: -15%;
  }
}
