.start-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  position: relative;
  padding-bottom: 20%;

  z-index: 20;

  &__customize {
    order: 2;
    margin-top: 0;
    margin-bottom: auto;
  }

  &__info {
    order: 1;
    margin-bottom: 20px;
  }

  &__submit {
    display: block;
    align-self: flex-start;
    order: 3;
    margin: 0 auto;
    margin-top: 30px;
    width: 212px;
    height: 28px;
    background-image: url("../img/start-submit.svg");
    background-repeat: no-repeat;
    background-size: 212px 28px;
    background-color: transparent;
    border: none;
    font: {
      family: $main-font;
      size: 14px;
      weight: 900;
    }
    color: $text-white;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;
    outline: none;

    text-decoration: none;
    text-align: center;
    padding-top: 7px;
  }
}

@media (min-width: $smartphones) {
  .start-content {
    z-index: 20;

    &__submit {
      bottom: 10%;
      left: 18%;
      width: 320px;
      height: 42px;
      background-size: 320px 42px;

      font: {
        size: 22px;
      }
    }
  }
}

@media (min-width: $tablets) {
  .start-content {
    z-index: 20;

    &__submit {
      bottom: 10%;
      left: 20%;
      width: 512px;
      height: 68px;
      background-size: 512px 68px;

      font: {
        size: 36px;
      }
    }
  }
}

@media (min-width: $laptop) {
  .start-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 20%;

    z-index: 20;

    &__customize {
      order: 2;
    }

    &__info {
      order: 1;
    }

    &__submit {
      display: block;
      align-self: flex-start;
      position: absolute;
      bottom: 10%;
      left: 40%;
      width: 505px;
      height: 65px;
      background-image: url("../img/start-submit.svg");
      background-repeat: no-repeat;
      background-size: 505px 65px;
      background-color: transparent;
      border: none;
      font: {
        family: $main-font;
        size: 36px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
      text-transform: uppercase;

      cursor: pointer;
      outline: none;

      text-decoration: none;
      text-align: center;
      padding-top: 10px;
    }
  }
}
@media (min-width: $netbooks) {
  .start-content {
    width: 100%;

    justify-content: space-evenly;

    &__submit {
      bottom: 15%;
      left: 50%;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15%;

    &__submit {
      bottom: 10%;
    }
  }
}
@media (min-width: $notebooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding-bottom: 20%;
    position: relative;

    &__submit {
      position: absolute;
      bottom: 13%;
      left: 50%;
    }
  }
}
@media (min-width: $widebooks) {
  .start-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 23%;
    padding-bottom: 15%;

    width: 76%;

    &__customize {
      order: 1;
    }

    &__info {
      order: 2;
    }

    &__submit {
      bottom: 10%;
      left: 15%;
    }
  }
}
@media (min-width: $hd) {
  .start-content {
    flex-direction: row;

    align-items: center;
    margin-left: 28%;
    padding-bottom: 10%;

    width: 70%;
    justify-content: space-evenly;

    &__submit {
      align-self: flex-start;
      position: absolute;
      bottom: 100px;
      width: 505px;
      height: 65px;
      background-image: url("../img/start-submit.svg");
      background-repeat: no-repeat;
      background-size: 505px 65px;
      background-color: transparent;
      border: none;
      font: {
        family: $main-font;
        size: 36px;
        weight: 900;
      }
      color: $text-white;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
@media (min-width: $fhd) {
  .start-content {
    width: 70%;
    justify-content: space-evenly;

    &__submit {
      left: 17%;
    }
  }
}
