@media (min-width: $laptop) {
  .start-body {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    flex-wrap: nowrap;

    width: 466px;

    position: relative;

    &__item--chest {
      position: absolute;
      top: -130px;
      left: 100px;
    }

    &__item--leftarm {
      position: absolute;
      top: -110px;
      right: -25px;
    }

    &__item--rightarm {
      position: absolute;
      top: -110px;
      left: -2px;
    }

    &__item--leftleg {
      position: absolute;
      top: 237px;
      left: 100px;
    }

    &__item--rightleg {
      position: absolute;
      top: 237px;
      right: 72px;
    }
  }
}

@media (min-width: $netbooks) {

}
@media (min-width: $wide-netbooks) {

}

@media (min-width: $notebooks) {

}

@media (min-width: $widebooks) {

}

@media (min-width: $hd) {

}

@media (min-width: $fhd) {

}
