.gallery {
  @include container;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $laptop) {
    background-color: $body-bg;
    background-image: url('../img/gallery-main-bg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;

    margin: 0 auto;
    padding: 0;

    text-transform: uppercase;
    position: relative;
  }
}
