.gallery-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../img/sidebar-bg.svg");
  background-repeat: repeat-y;
  background-position: top -5px right;
  background-size: cover;

  min-height: 768px;
  max-height: 100vh;
  width: 40%;
  position: relative;

  margin-left: -55px;
  padding-left: 55px;

  &__logo {
    width: 75%;
    padding-left: 55px;
    padding-top: 30px;
  }
  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

@media (min-width: $laptop) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1024px;
    max-height: 100%;
    width: 40%;
    position: relative;

    margin-left: -55px;
    padding-left: 55px;

    &__logo {
      width: 75%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
@media (min-width: $netbooks) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
@media (min-width: $wide-netbooks) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
@media (min-width: $notebooks) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1200px;
    height: auto;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }
    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
@media (min-width: $widebooks) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 10;
    }
  }
}
@media (min-width: $hd) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    max-height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 51.2%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
@media (min-width: $fhd) {
  .gallery-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sidebar-bg.svg");
    background-repeat: repeat-y;
    background-position: top -5px right;
    background-size: cover;

    min-height: 1440px;
    height: 100vh;
    width: 36%;
    position: relative;

    &__logo {
      width: 57.7%;
      padding-left: 55px;
      padding-top: 30px;
    }

    &__image {
      width: 450px;
      height: 265px;
    }

    &__link {
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
}
