.parents-form {
  background-color: #fffbef;

  width: 100%;

  position: relative;

  &__submit {
    display: block;

    background-image: url('../img/parent-final.png');
    background-repeat: no-repeat;
    background-size: 202px 25px;

    width: 202px;
    height: 25px;

    text-align: center;
    cursor: pointer;
    outline: none;

    border: none;

    position: absolute;
    background-color: transparent;

    left: 0;
    right: 0;
    top: 180px;

    margin: 0 auto;

    font: {
      size: 17px;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
  }
}

@media (min-width: $laptop) {
  .parents-form {
    background-color: #fffbef;

    width: 100%;

    position: relative;

    &__submit {
      background-image: url('../img/parent-final.png');
      background-repeat: no-repeat;
      background-size: 506px 63px;

      width: 506px;
      height: 63px;

      text-align: center;
      cursor: pointer;
      outline: none;

      border: none;

      position: absolute;
      background-color: transparent;

      top: auto;
      margin: 0 auto;
      bottom: -100px;

      font: {
        size: 39px;
        weight: 900;
        family: $main-font;
      }

      color: $text-white;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
